body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

/* Create and edit entry form */

.entry-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 60vw;
}

.entry-form label {
    font-weight: 600;
    text-transform: uppercase;
}

.entry-form input,
.entry-form textarea {
    padding: 4px;
}

.entry-form textarea {
    height: 400px;
}

.entry-form__button {
    border-color: rgb(179, 179, 179);
    border-radius: 10px;
    font-size: 1.25em;
    text-transform: uppercase;
}

.error-message {
    width: 30vw;
    padding: 16px;
    border-radius: 10px;
    border: 2px solid rgb(161, 0, 0);
    color: rgb(161, 0, 0);
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
}

.error-message > p {
    margin: 0;
}